@import "reset";

$enable-flex:               true;
$enable-grid-classes:       true;

$screen-xs:                 1px;
$screen-sm:                 2px;
$screen-md:                 3px;
$screen-lg:                 9999px;

@import '../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/_variables.scss';
@import '../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/_mixins.scss';
@import '../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/_normalize.scss';
@import '../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/_grid.scss';

@import "library/colors";
@import "library/fonts";
@import "library/mixins";
@import "library/z-indices";

* {
	box-sizing: border-box;
}

body {
	background-color: #F5F5F5;
	font-family: $circularBook;
	font-size: 14px;

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.container {
	width: 1024px;
	padding: 0 40px 30px 40px;
}

a {
	color: $purple;
	font-family: $circularMedium;
	text-decoration: none;

	@include transition(0.2s);

	&:hover {
		color: darken($purple, 10%);
	}

	&:focus, &:active {
		color: darken($purple, 12%);
	}
}

hr {
	border-color: lighten($blue-light, 10%);

	&.dark-purple {
		border-color: darken($purple, 10%);
	}

	&.blank {
		border-color: transparent;
	}
}

.margin-top-5 {
	margin-top: 5px;
}

.margin-top-10 {
	margin-top: 10px;
}

.margin-top-15 {
	margin-top: 15px;
}

.margin-top-20 {
	margin-top: 20px;
}

.margin-top-30 {
	margin-top: 30px;
}

.margin-top-40 {
	margin-top: 40px;
}

.margin-top-50 {
	margin-top: 50px;
}

.margin-top-60 {
	margin-top: 60px;
}

.margin-top-70 {
	margin-top: 70px;
}


.no-padding {
	padding: 0;
}

.left {
	float: left;
}

.right {
	float: right;
}

.clearfix {
	visibility: hidden;
	display: block;
	height: 0;
	clear: both;
}

.align-left {
	text-align: left;
}

.align-center {
	text-align: center;
}

.align-right {
	text-align: right;
}

.vertical-align-top {
	vertical-align: top;
}

.vertical-align-middle {
	vertical-align: middle;
}

.vertical-align-bottom {
	vertical-align: bottom;
}

.full-width {
	width: 100%;
}

.absolute-center {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	margin: auto;
}

@import "components/buttons";
@import "components/form";
@import "components/rangeslider";
@import "components/volume-control";
@import "components/modal";
@import "components/lists";
@import "components/image-styles";
@import "components/text-styles";
@import "components/messages";
@import "components/widget";

@import "layout/header";
@import "layout/footer";

@import "views/dashboard";
@import "views/appointments";
@import "views/chat";
@import "views/emdr-test";

.hidden {
	display: none;
}

.disabled {
	opacity: 0.4;
	cursor: default;
}

.inline-block {
	display: inline-block;
}