
h1 {
	font-family: $circularBold;
	font-size: 24px;
	color: $blue;
	margin-bottom: 15px;
}

h2 {
	font-family: $circularMedium;
	font-size: 24px;
	color: $blue;
	margin-bottom: 10px;
}

h3 {
	font-family: $circularMedium;
	font-size: 18px;
	color: $blue;
	margin-bottom: 10px;
}

h4 {
	font-family: $circularMedium;
	font-size: 18px;
	color: $blue-light;
	margin-bottom: 10px;
}

h5 {
	font-family: $circularMedium;
	font-size: 18px;
	color: $blue;
	margin-bottom: 10px;
}

h6 {
	font-family: $circularMedium;
	font-size: 16px;
	color: $blue;
	margin-bottom: 10px;
}


b, strong {
	font-family: $circularMedium;
	font-weight: normal;
}

p {
	font-family: $circularBook;
	color: $blue-light;
	line-height: 21px;
	font-size: 14px;
	margin-bottom: 8px;

	b {
		color: $blue;
	}
}