ul.appointments {
	padding: 0;

	li {
		padding: 0;
		list-style: none;
		color: #fff;

		display: block;
		margin-top: 15px;
		padding-bottom: 15px;
		border-bottom: 1px solid darken($purple, 3%);;

		.date {
			background-color: #fff;
			width: 44px;
			height: 44px;
			padding-top: 7px;
			border-radius: 3px;
			display: inline-block;

			font-family: $circularBold;
			text-align: center;

			.day {
				font-size: 18px;
				color: $purple;
			}
			.month {
				font-size: 10px;
				text-transform: uppercase;
				color: lighten($purple, 10%);
			}
		}

		.description {
			display: inline-block;
			margin-left: 10px;
			vertical-align: top;
			width: 180px;
			line-height: 18px;
		}

		&:last-child {
			border-bottom: 0;
			padding-bottom: 0;
		}
	}
}

ul.appointments-detail {
	padding: 0;

	li {
		display: block;
		width: 100%;
		padding: 0;
		list-style: none;

		padding-bottom: 15px;
		margin-bottom: 20px;
		border-bottom: 1px solid #F1F1F1;

		.btn {
			display: inline-block;
		}
	}
}

.info-box, .info {

	.meta-data {
		@include transition();
	}

	.label {
		font-family: $circularBold;
		text-transform: uppercase;
		font-size: 10px;
		color: #CACFDA;
	}

	p {
		color: $blue;
	}

	.actions {
		 * {
			 vertical-align: top;
		 }
	}
}

.info-box {
	padding: 20px;
	border: 1px solid #E6E6E6;
}

.status {
	display: inline-block;
	height: 30px;
	line-height: 30px;
	font-family: $circularBlack;
	font-size: 11px;
	color: #fff;
	text-transform: uppercase;
	padding: 0 10px;
	border-radius: 3px;

	&.aborted {
		background-color: $red;
	}
}